<div class="featured-container">
    <div class="featured-card">
        <a class="plain" href="/testing-distributed-systems/"><img src="/assets/thumbnails/default-thumbnail.png"></a>
        A comprehensive guide to everything you need to know about
        <a href="/testing-distributed-systems/">
            Testing Distributed Systems
        </a>
    </div>

    <div class="featured-card">
        <a class="plain" href="/testing-distributed-systems/">
            <img src="/assets/thumbnails/2024-05-evolution-of-cloud-block-store.png">
        </a>
        How testing and formal methods fit together in practice, in a review of the paper
        <a href="/talks/2022-02-formal-methods-at-amazon-s3/">
            "Using Lightweight Formal Methods to Validate a Key-Value Storage Node in Amazon S3"
        </a>
    </div>

    <div class="featured-card">
        <a class="plain" href="/testing-distributed-systems/">
            <img src="/assets/thumbnails/2023-01-how-to-fight-incidents.webp">
        </a>
        A review of the paper
        <a href="/talks/2024-05-evolution-of-cloud-block-store/">
            "What's the Story in EBS Glory: Evolutions and Lessons in Building Cloud Block Store"
        </a>
        which discusses the evolution of Alibaba Cloud's EBS service architecture over the years.
    </div>
</div>