<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#3669B2">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
<link rel="license" href=" {{ '/LICENSE.txt' | relative_url }} " />
<link rel="me" href="https://www.linkedin.com/in/asatarin/">
<link rel="me" href="https://twitter.com/asatarin">
<link rel="me" href="https://discuss.systems/@asatarin">
<link rel="me" href="https://github.com/asatarin/">
<link rel="me" href="https://speakerdeck.com/asatarin">