:root {
  // Headers
  --header-heading-color: #000;
  --header-bg-color: #fff;
  --header-bg-color-secondary: #155799;

  // Text
  --section-headings-color: #ba3925;
  --body-text-color: #000;
  --body-link-color: #1e6bb8;
  --blockquote-text-color: #000;

  // Code
  --code-bg-color: #f3f6fa;
  --code-text-color: #567482;

  // Borders
  --border-color: #dce6f0;
  --table-border-color: #e9ebec;
  --hr-border-color: #cdcdcd;
}

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;


