<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <section class="page-header">
      {% include navigation.html %}
      <h1 class="page-title">{{ page.title | default: site.github.repository_name }}</h1>
      <h2 class="page-description">{{ site.author.name | default: site.github.project_tagline }} 
        (<a href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a>)
      </h2>
      <div class="page-date">{{ page.date | date_to_long_string }}</div>
    </section>

    <section class="main-content">
      {% include anchor_headings.html html=content beforeHeading=true anchorBody="<span class='anchor'>#</span>" anchorAttrs="tabindex='-1'" %}
      
      <footer class="site-footer">
        {% include footer.html %}
        {% include counter.html %}
      </footer>
    </section>

  </body>
</html>
