<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    <link rel="license" href="/LICENSE.txt" />
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      {% include navigation.html %}
      <h1 class="page-title">{{ page.title | default: site.github.repository_name }}</h1>
      <h2 class="page-description">{{ site.author.name | default: site.github.project_tagline }} 
        (<a href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a>)
      </h2>
      <div class="page-date">{{ page.date | date_to_long_string }}</div>
    </header>

    <main class="main-content" role="main">
      <div class="print-content">
        Self link — <a href="{{ page.url | absolute_url }}">{{ page.url | absolute_url }}</a>
      </div>

      {% include anchor_headings.html html=content beforeHeading=true anchorBody="<span class='anchor'>#</span>" anchorAttrs="tabindex='-1'" %}

      <hr>
      <footer class="site-footer">
        {% include footer.html %}
        {% include recent-talks.html %}
        {% include counter.html %}
      </footer>
    </main>

  </body>
</html>
